.navbar1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: 100%;
    gap: 12vw;
}
.nav_item1{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
   
}
.nav_item2{
      display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 30px;
}

.search_bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
}

.search_bar1{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 100%;
}
.search_bar2{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 100%;
}

.search_bar3{
    border: none;
    border-radius: 8px 0 0 8px;
    height: 100%;
    background: #FAFBFC;
    /* background: red; */
    padding-left: 15px;
    width: 25vw;
    min-width: 250px;
}
.search_bar3:focus{
    outline: none;
}

.btn{
    height: 100%;
    border-radius: 0 8px 8px 0;
    width: 50px;
    border: none;
    background: #FAFBFC;
    /* background: #FAFBFC; */
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    background: #d0d1d2;
}

.nav_item3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: normal;
    height: 50px;
    gap: 20px;
}

.item1, .item2, .item3, .item4{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    
    height: 100%;
}
/* .item1:hover, .item2:hover, .item3:hover, .item4:hover{
    cursor: pointer;
}
.item1:active, .item2:active, .item3:active, .item4:active{
    background: #d0d1d2;
} */


.notification{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
}
.notification_icon, .notification_indicator{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.notification_indicator{
    margin-left: -8px;
    translate: 0 -8px;
}

.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
    height: 100%;
    width: 50px;
    background: #FAFBFC;
    border-radius: 50%;
}
.icons:hover{
    cursor: pointer;
}
.icons:active{
    background: #d0d1d2;
}
.img_container{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
#profile{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}